
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.jar
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.dylib
obj/
mac/**
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.nupkg
tools/
artifact/
#Exclude build folders and temp files
native
x64
x64.7z
x86
x86.7z
